

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin: 0;
    font-family: 'Sacramento', cursive;
    font-size: 100px;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: bold;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

hr {
  margin: 100px auto 100px auto;
  border-style: none;
  border-color: grey;
  border-width: 5px;
  border-top-style: dotted;
  width: 3%;
}

p {
  line-height: 2;
}

.intro {
  width: 30%;
  margin: auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 100px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.fw {
  width: 25%;
  float: left;
  margin: 30px 30px 0 0;
}

.Wireshark {
  width: 10%;
  float: right;
  margin: 30px 0 0 0;
}

.tcp {
  width: 25%;
  float: left;
  margin: 30px 30px 50px 0;
}

.python {
  width: 20%;
  float: right;
  margin: 30px 0 50px 30px;
}

.top-text2 {
  font-size: 30px;
}

.top-cloud {
  position: absolute;
  top: 150px;
  right: 25%;
}

.bottom-cloud {
  position: absolute;
  bottom: 350px;
  left: 25%;
}

.mountain {
  width: 750px;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 250px;
}

.middle-container {
  padding-top:100px;
}

.skill-row {
  width: 50%;
  margin: 50px auto;
  text-align: left;
}

.bottom-container {
  background-color: #66BFBF;
  padding-bottom: 30px;
  margin-top: 70px;
}

.footer-link {
  margin-top: 100px;
  text-decoration: none;
}

.footer-link:hover {
  color: #ffffff;
}

.copyright {
  font-size: 0.75rem;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
